- title "Home"

%table
  %tr
    %th 
    %th Caption
    %th Person
  - for exhibit in @exhibits
    %tr
      %td= link_to(image_tag(exhibit.photo.url(:thumb)), exhibit)
      %td= link_to(exhibit.caption, exhibit)
      %td= link_to(exhibit.person.username, exhibit.person)

%p= link_to "New Exhibit", new_exhibit_path
