%p
  = likable.likes.count
  likes
%p
  - if current_person.likes?(likable)
    = link_to 'unlike', current_person.like_for(likable), :confirm => 'Are you sure?', :method => :delete
  - else
    = form_for [likable, likable.likes.build] do |f|
      = f.submit 'like'
