- title "Categories"

%table
  %tr
    %th
    %th Name
    %th Parent
  - for category in @categories
    %tr
      %td= link_to(image_tag(category.photo.url(:thumb)), category)
      %td= link_to category.name, category
      %td= category.parent ? link_to(category.parent.name, category.parent) : 'none'

%p= link_to "New Category", new_category_path